<h1>Carrera de Caballos</h1>
<p>Practica numero 2 - Desarrollo en Entorno Web.</p>
<p>En esta pagina, luego de registrarse y conectarse, un usuario podra realizar apuestas y ver resultados de las carreras y de cuanto tendria que cobrar en caso ganara alguna.</p>
<p><%= link_to "A Page Protected with Login", horses_path %></p>